<% content_for :page_title, @inventory.to_s %>
<% content_for :page_menu, collect_button(@inventory) %>
<% content_for :sidebar do %>
  <%= inventory_sidebar(@inventory) %>
  <%= render 'comments/commentable_comments', :commentable => @inventory %>
<% end %>
<% content_for :nav, back_button(inventories_path) %>
<%= list_attributes(@inventory, :long_title, :source_reference, :description)%>

<h2>Entries</h2>
<%= table_for @inventory.inventory_list_entries, :html => {:class => 'table'} do |t| %>
  <% t.data :list_order, :id_tag, :description, :page, :actions => :show %>
<% end %>

