<% content_for :nav do %>
  <%= link_to 'Back', encounters_path %>
<% end %>

<h1>Inventory: <%= @inventory.short_title %></h1>
<%= list_attributes(@inventory, :long_title, :source_reference, :description)%>

<h2>Entries</h2>
<%= table_for @inventory.inventory_list_entries do |t| %>
  <% t.column :list_order %>
  <% t.column :title => 'ID Tag' do |entry| %>
    <% link_to entry.id_tag.presence || '<em>blank</em>'.html_safe, entry %>
  <% end %>
  <% t.columns :page, :item_count, :description %>
<% end %>
