<% content_for :nav do %>
  <%= link_to 'Back', inventories_path %>
<% end %>

<% content_for :page_title, "#{link_to 'Inventories', inventories_path} / #{@inventory.display_name}".html_safe %>
<%= list_attributes(@inventory, :long_title, :source_reference, :description)%>

<h2>Entries</h2>
<%= table_for @inventory.inventory_list_entries do |t| %>
  <% t.column :title => 'ID Tag' do |entry| %>
    <% link_to entry.id_tag.presence || '<em>blank</em>'.html_safe, entry %>
  <% end %>
  <% t.columns :page, :item_count, :description %>
<% end %>
