<h2>Discussion</h2>
<%= render commentable.comments.includes(:user) %>
<%= content_tag :p, 'No discussion yet' if commentable.comments.empty? %>
<%= render 'comments/form', :comment => commentable.comments.build unless offline_mode? %>