<% content_for :nav do %>
  <%= link_to 'Back', people_path %>
<% end %>

<h1>Person: <%= @person.display_name %></h1>

<%= table_for @person.crew_list_entries do |t| %>
  <% t.column :title => "Expedition Name" do |crew_list_entries| %>
    <% crew_list_entries.expedition.name %>
  <% end %>
  <% t.column :rank %>
<% end %>