<% content_for :nav do %>
  <%= link_to 'Back', people_path %>
<% end %>


<h1><%= @person.display_name %></h1>

<table>
  <thead>
    <tr><th>Expedition</th><th>Rank</th>
    </thead>
    <tbody>
    <% for crew_list_entry in @person.crew_list_entries.includes(:expedition) %>
    <tr><td><%= crew_list_entry.expedition.name %></td><td><%= crew_list_entry.rank %></td>
    <% end %>
  </tbody>
</table>