<% content_for :nav do %>
  <%= link_to 'Back', labels_path %>
<% end %>

<% content_for :page_title, "#{link_to 'Labels', labels_path} / #{@label.display_name}".html_safe %>

<%= list_attributes(@label, :id_tag, :inscription, :dimensions, :attachment_method, :attachment_location) %>

<% content_for :sidebar do %>
  <h2>Media</h2>
  <%= record_media(@label.media_items)%>
  <hr/>
  <h2>Related</h2>
  <%= record_relation('Encounter', @label.related_encounters) %>
<% end %>