.attribute_list{
    list-style: none;
}
.attribute_name{
    font-weight: bold;
}

.record_list{
    -moz-column-width: 300px;
    -webkit-column-width: 300px;
    column-width: 300px;
}
.record_slide{
    display: inline-block;
    border: 1px solid #E0E0E0;
    background: #F0F0F0;
    text-align: center;
    margin: 4px;
    padding: 4px;
    vertical-align: bottom;
    position: relative;
}
.record_slide img{
    width: 200px;
    height: 200px;
    background: #F0F0F0 center center no-repeat;
}
.record_slide .title{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
    padding: 4px;    
    bottom: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #F0F0F0;
    font-family: Futura, Helvetica, Arial, 'Sans Serif';
    font-size: 0.8em;
}

.record_relation{
    line-height: 2em;
    display: block;
    padding: .5em 1em;
}
.record_relation:hover{
    background: white;
}
.record_relation + .record_relation{
    border-top: 1px solid #E0E0E0;
}
#record_media{
    text-align: center;
}