.menu_bar_search{
  display: inline-block;
  position: relative;
  
  .glint_search {
    vertical-align: middle;
  }

  .main_form {
    font-size: 14px;
    margin: 0;
  }

  // Search field
  .main_form_input{
    margin: 0;
    width: 200px;
    -moz-transition: width .25s;
  }
  .main_form_input:focus{
    width: 300px;
  }
  .main_form_input:focus ~ .autocomplete_choices_container {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 7px 8px rgba(82, 168, 236, 0.6);
  }

  .dropdown_form .controls input{
    height: auto;
  }

  .autocomplete_choices_container {
    margin-top: -2px;
    border-color: #CCC;
    z-index: 3;     
  } 
}