<% content_for :page_title, "Searched for \"#{params[:q]}\" and found:" %>

<table class='table'>
<% @searches.each do |klass, search| %>
	<tr>
		<td style='white-space: nowrap'><%= klass.model_name.human.pluralize %></td>
		<td><%= search.result_count %></td>
		<td style='width: 100%'><%= link_to 'View matches', polymorphic_path(klass, :q => params[:q]) %></td>
	</tr>
<% end %>
</table>