@import 'mixins';

$entity-padding: 1em;
@mixin entity_list_entry{
	border: 1px solid #E0E0E0;
	padding: $entity-padding;
	margin-bottom: 5px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	background: #FAFEFE;

  // Prevent breaking across columns break
  display: inline-block; 
  width: 100%;
  @include border-box;
  // End


	&:hover{
		color: black;
		background: #FFFFEE;
	}
	a{
		text-decoration: none;
	}

	.name{
		color: #333;
		font-variant: small-caps;
	}
	.description{
		display: block;
		font-size: 0.9em;
		margin-top: 1em;
		color: #888;
		line-height: 1.5em;
	}
	.metadata{
		color: #333;
		font-variant: small-caps;
		float: right;
	}
}