
$site-menu-height: 30px;
$sidebar-width: 400px;
$sidebar-z-index: 5;
$site-menu-z-index: 4;

@mixin columns($width: 300px){
    -moz-column-width: $width;
    -webkit-column-width: $width;
    column-width: $width;
}