/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require easy_menu 
 *= require glint_autocomplete
 *= require popup_gallery
 *= require bootstrap
 *= require_self
 *= require_tree .
*/
@import 'mixins';

/* LAYOUT */
header{
    width: 100%;
    position: relative;
    z-index: $site-menu-z-index;    
}
#page{
    position: relative;
    height: 100%;
}
#content{
    padding: 1px 2em;
    background: white url(image_path('bg.png'));    
    border: 1px solid #E0E0E0;
    box-shadow: 0px 0 4px rgba(0,0,0,0.2);    
    position: relative;
    z-index: $content-z-index;
}
#sign_out{
    float: right;
}

.clear_search{
    font-size: 14px;
}
.pagination{
    text-align: center;
}

.menu_bar.default_theme{
    margin: 1em 0;
    z-index: 1; // Place above item slides
}
footer{
    margin: 1em 0;
}