/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require glint_autocomplete
 *= require popup_gallery
 *= require_self
 *= require_tree ./shared
*/
@import 'mixins';

/* LAYOUT */
html, body{
    background: white url(image_path('bg.png'));    
}

#page{
    padding: 1px 4em 2em;
    margin: -1px 0em 0;
}
#content{
    position: relative;
}
#page_header{
  position: relative;
}

#page_menu{
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: normal;
  margin: 0;
  padding-bottom: 9px;
  font-weight: normal;
  z-index: 1;

  .btn-group, .glint_search{
    display: inline-block;
    float: none;
  }
}
.clear_search{
    font-size: 14px;
}
.pagination{
  text-align: center;
}

// RESPONSIVE

@media (max-width: $responsive-width-medium) {
  #page.with_page_menu{
    #page_header{
      margin-right: 0;
    }
    #page_menu{
      border: none;
      line-height: normal;
      padding: 0;
      position: static;
      width: auto;
      display: block;
    }
  }
}