/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html{
    font-family: Helvetica, Arial, 'sans serif';
    height: 100%; /* Make the scrollbar start to the left of the sidebar */
    
}
body{
    margin: 0;
    padding: 0;
    height: 100%; /* Make the scrollbar start to the left of the sidebar */
}
p{
    font-family: 'Times New Roman', Times, 'serif';
}
a:link{
    text-decoration: none;
}

/* TABLES */
table{
	border-width: 1px;
	border-spacing: 0px;
	border-color: #DDD;
	border-style: solid;
	border-bottom: none;
	border-collapse: separate;
	background-color: white;
	width: 100%;
}
th{
    text-align:left;
    padding: 0.25em 1em;
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDD;
}
tr{
    background-color: #EEE;
}
tr:nth-child(odd){
    background-color: #F3F3F3;
}
td{
    padding: 0.25em 1em;
    border-top: 1px solid white;
    border-bottom: 1px solid #DDD;
}

hr{
    height: 0px;
    width: 100%;
    border-width: 0;
    border-top: 2px solid #DDD;
}        

/* LAYOUT */

$sidebar-width: 400px;
#page{
    position: relative;
    height: 100%; /* Make the scrollbar start to the left of the sidebar */
}
#content{
    margin-right: $sidebar-width + 5px;
    padding: 1em;
    /* Make the scrollbar start to the left of the sidebar */
    overflow: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;    
}
#sign_out{
    float: right;
}

.clear_search{
    font-size: 14px;
}
.pagination{
    text-align: center;
}

// Put menus in the header on the right
h1{
    .menu_bar{
        float: right;        
    }
}
