@import 'mixins';
@import 'entity_mixin';

.attribute_list{
    list-style: none;
}
.attribute_name{
    font-weight: bold;
}

.record_slide_table{
    @include columns;

    .record_list_entry{
        text-align: center;

        .thumbnail{
            width: 100%;
        }
    }   
}

#record_media{
    text-align: center;
}
#record_media .media_thumbnail{
    margin: 0.5em;
}

.record_list_entry{
    @include entity_list_entry;
}