$sidebar-link-color: #333;
#sidebar{
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: #EEE;
    border: 1px solid #E0E0E0;
    font-weight: bold;
    box-shadow: 0px 0 4px rgba(0,0,0,0.2);
    
    a:link, a:visited{
        color: $sidebar-link-color;
    }
    
    h2{
        color: #888;
        margin-left: 1em;
    }
    hr{
        height: 0px;
        width: 100%;
        border-width: 1px 0;
        border-bottom: 1px solid white;
        border-top: 1px solid #DDD;
        margin: 0;
    }    
}

@mixin sidebar-list-item{
    line-height: 2em;
    display: block;
    padding: .5em 1em;
    cursor: pointer;
    border-top: 1px solid #E0E0E0;
    
    &:first-child{
        border-top:none;
    }
    
    &:hover, &.selected{
        background: white;
    }
    &.inactive{
        color: #AAA;
        cursor: default;
        background: transparent;    
    }
}
.sidebar_option{
    @include sidebar-list-item;
}

.sidebar_submenu{
    @include sidebar-list-item;
    padding: 0;
    > div{
        padding: .5em 1em;
    }
    > ul{
        list-style: none;
        padding: 0;
    }
}
.sidebar_suboption a{
    @include sidebar-list-item;
    padding: 0 1em 0 2em;
    border-top: none;
}