@import 'mixins';
$line-colour: #E0E0E0;
$placard-background-colour: white;
$input-font: 11px Lucida Sans Unicode, Lucida Grande, sans-serif;
$text-input-background: #F7FAF9;

@mixin text-input {
  @include border-box;
  padding: 0.5em;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
  font: $input-font;
  background: $text-input-background;
}

@mixin simpleform-text-input {
    @include text-input;
    width: 100%;
}


.simple_form {  
    // FIELDSETS
    fieldset {
        background-color: $placard-background-colour;
        margin: 1em 0;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        border: 1px solid $line-colour;
    }
    fieldset fieldset {
        border: none;      
    }
    legend {
        font-size: 1.5em;
        text-transform: uppercase;
    }

    // LABELS
    label{
        display: block;
        margin-bottom: 0.25em;
        font-variant: small-caps;
    }
    label.date {
        width: 20em;
        display: inline-block;        
    }
  	label.boolean, label.collection_radio {
      display: inline-block;
  		margin: 0 1em 0 0.25em;
  	}
    
    // CHECKBOX GROUP
    .check_boxes, .radio_buttons {
        span {
            display: block;
        }
        span label {
            display: inline-block; 
        }
    }

    // ROWS
    .input {
        margin-bottom: 1em;
        
        .error {
          margin-left: 0.25em;
          color: red;
        }
    }
    .input:last-child, .grouped_inputs:last-child{
        margin-bottom: 0;
    }

    // INPUTS
    textarea {
        vertical-align: top;
        @include simpleform-text-input;
        height: 9em;
    }
    input[type=text], input[type=email], input[type=tel], input[type=password] {
        @include simpleform-text-input;
    }
    input[type=number] {
        @include simpleform-text-input;
        width: 6em;
    }

    // BUTTONS
    .buttons {
      margin-top: 1em;
      
      .fields {
        margin-bottom: 1em;
      }
    }

    // GROUPED INPUTS
    .grouped_inputs {
        margin-bottom: 1em;
        .input {
            display: inline-block;
            margin: 0;
        }
        label {
            width: auto;
            margin-right: 1em;
        }
    }

    // HINTS
    .hint {
        display: block;
        color: #B0B0B0;
        font-size: 0.8em;
    }
    .date .hint {
      display: inline-block;
    }
}