@import 'mixins';

.menu_bar.site_menu{
  background-color: #444;
  border: none;
  margin: 0;
  padding: 0 20px 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  .menu_bar_group{
    margin: 0;
    padding: 0;
  }
  .menu_bar_content{
    padding: 0;
    margin: 0 5px;
    display: inline-block;
  }
  .menu_bar_content.right{
    float:right;
  }
  .menu_bar_item{
    color: #E0E0E0;
  }  
  .icon_button{
    padding-left: 20px !important;
    background-position: left center;
    min-height: 0;
  }
  a, span {
    display: inline-block;
    padding: 8px 5px;
    color: inherit;
  }
  span {
    opacity: 0.5;
  }
  .menu_bar_item.selected a {
    color: white;
    padding-top: 6px;
    border-top: 2px solid #DD4B39;
  }  
  a:hover{
    color: #FFFFFF;
    text-decoration: none;
  }
}